In [1]:
import pandas as pd
from time import time

In [2]:
import psycopg2
print(psycopg2.__version__)

2.9.10 (dt dec pq3 ext lo64)

In [3]:
from sqlalchemy import create_engine

In [4]:
df = pd.read_csv('green_tripdata_2019-10.csv', nrows=100)

In [5]:
pd.io.sql.get_schema(df, name='green_taxi_data')

'CREATE TABLE "green_taxi_data" (\n"VendorID" INTEGER,\n  "lpep_pickup_datetime" TEXT,\n  "lpep_dropoff_datetime" TEXT,\n  "store_and_fwd_flag" TEXT,\n  "RatecodeID" INTEGER,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "passenger_count" INTEGER,\n  "trip_distance" REAL,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "ehail_fee" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "payment_type" INTEGER,\n  "trip_type" INTEGER,\n  "congestion_surcharge" REAL\n)'

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [7]:
engine.connect()

In [10]:
connection = psycopg2.connect(
    host="localhost",
    database="ny_taxi",
    user="root",
    password="root"
)

print("Connection successful!")
connection.close()

Connection successful!

In [9]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [10]:
query = '''
SELECT 1;
'''
pd.read_sql(query,con=engine)

   ?column?
0         1

In [11]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [12]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 30.2 ms, sys: 3.21 ms, total: 33.4 ms
Wall time: 51.2 ms

100

In [13]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [14]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 7.212 second
inserted another chunk, took 6.948 second
inserted another chunk, took 6.934 second

/var/folders/lt/z3gsps6s3yd894b1wwrppj940000gn/T/ipykernel_3311/1406748514.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 6.908 second
inserted another chunk, took 4.683 second

StopIteration:

In [3]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [6]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

In [14]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
400000,NaN,2019-09-06 21:06:00,2019-09-06 21:23:00,NaN,NaN,42,167,NaN,3.19,23.35,2.75,0.5,0.0,0.00,NaN,0.0,26.60,NaN,NaN,NaN
400001,NaN,2019-09-06 21:48:00,2019-09-06 22:01:00,NaN,NaN,169,127,NaN,4.44,19.73,2.75,0.5,0.0,0.00,NaN,0.0,22.98,NaN,NaN,NaN
400002,NaN,2019-09-06 21:08:00,2019-09-06 21:26:00,NaN,NaN,29,228,NaN,9.38,28.95,2.75,0.5,0.0,0.00,NaN,0.0,32.20,NaN,NaN,NaN
400003,NaN,2019-09-06 21:06:00,2019-09-06 21:30:00,NaN,NaN,95,203,NaN,8.85,29.36,2.75,0.5,0.0,0.00,NaN,0.0,32.61,NaN,NaN,NaN
400004,NaN,2019-09-06 21:10:00,2019-09-06 21:44:00,NaN,NaN,74,218,NaN,17.62,48.30,2.75,0.5,0.0,6.12,NaN,0.0,57.67,NaN,NaN,NaN

In [ ]:
docker run -it \
  -e POSTGRES_USER="root" \
  -e POSTGRES_PASSWORD="root" \
  -e POSTGRES_DB="ny_taxi" \
  -v /Users/klaro/Documents/GitHub/data-engineering-homework-bootcamp/homework-1/ny_taxi_postgres_data:/var/lib/postgresql/data \
  -p 5432:5432 \
  --network=pg-network \
  --name pg-database \
  postgres:13